<!DOCTYPE html>
<html>
<head>
    <title>Hosting Bots</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Welcome to Hosting Bots</h1>
    <a href="/register">Register</a> | <a href="/login">Login</a>
</body>
</html>
